[submodule "Frontend"]
	path = Frontend
	url = https://github.com/JulioMCruz/Scaling-Ethereum-2023-FrontEnd.git
[submodule "SmartContracts"]
	path = SmartContracts
	url = https://github.com/JulioMCruz/Scaling-Ethereum-2023-SmartContracts.git
